.sidebar {
    width: 240px;
    flex-shrink: 0;
  }
  
  .sidebar .MuiDrawer-paper {
    width: 240px;
    background-color: #f5f5f5;
  }
  
  .MuiList-root {
    background-color: white !important;
  }